{{ form_start(product_form) }}
<table class="form_table">
<tr>
<td>{{ form_label(product_form.name, 'Продукт') }}</td>
<td>{{ form_label(product_form.price, 'Цена') }}</td>
</tr><tr>
<td>{{ form_widget(product_form.name, {'attr': {'placeholder': 'Название товара'}}) }}</td>
<td>{{ form_widget(product_form.price, {'attr': {'placeholder': 'Цена товара'}}) }}</td>
</tr><tr>
<td colspan="2">{{ form_label(product_form.description, 'Описание') }}</td>
</tr><tr>
<td colspan="2">{{ form_widget(product_form.description, {'attr': {'placeholder': 'Описание товара'}}) }}</td>
</tr><tr>
<td colspan="2">{{ form_label(product_form.category, 'Категория') }}</td>
</tr><tr>
<td colspan="2">{{ form_widget(product_form.category, {'attr': {'placeholder': 'Категория'}}) }}</td>
</tr><tr>
<td></td><td>{{ form_widget(product_form.submit, {'label': 'Сохранить'}) }}</td>
{{ form_rest(product_form) }}
</tr>
</table>
{{ form_end(product_form) }}
