{% extends 'v1mHelloBundle:Hello:layout.html.twig' %}
{% block title %}Store{% endblock %}
{% block content %}
<div class="content">
{% block messg %}
	{% for flashMessage in app.session.flashbag.all() %}
	<div>
		<p><font color="red">{{ flashMessage[0] }}</font></p>
	</div>
	{% endfor %}
{% endblock %}
	<div>
		{% if not product %}
		<p>Продукты не найдены</p>
		{% else %}
		<table>
			<tr><td>Id:</td><td align="right">{{ product.id }}</td>
			<tr><td>Наименование:</td><td align="right">{{ product.name }}</td>
			<tr><td>Цена:</td><td align="right">{{ product.price }}</td>
			<tr><td>Описание:</td><td align="right">{{ product.description }}</td>
			<tr><td>Категория:</td><td align="right">{{ product.category.name }}</td>
		</table>
		{% endif %}
		<p><a href="{{ path('v1m_store_index') }}">Все продукты</a></p>
		<p><a href="{{ path('v1m_store_edit', { 'id': product.id }) }}">Редактировать</a></p>
		<p>{{ form(delete_form) }}</p>
	</div>
</div>
{% block msg %}{% endblock %}
{% endblock %}

